/*
Color palette URL: http://paletton.com/#uid=52m0u0kllllaFw0g0qFqFg0w0aF
*/

* {
    box-sizing: border-box;
}

/* Set the base font size */
html {
    font-size: 10px;
}

/*
Reset form elements so they look the same across different browsers
(https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements)
*/
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

@media(min-width: 1024px) {
    body {
        width: 75%;
        margin: auto;
    }
}

a {
    color: #116611;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
    margin: 0 0 2rem 0;
}
.header > * {
    grid-column: col-start / span 12;
}

.header .title {
    font-size: 3rem;
    text-align: center;
}

.header .title a {
    color: #567714;
}

.main-menu .menu-item {
    margin: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.main-menu .menu-item a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    text-decoration: none;
    border: 1px solid #004400;
}

.main-menu .menu-item a:link,
.main-menu .menu-item a:visited,
.main-menu .menu-item a:focus {
    background-color: #555500;
    color: #D4D46A;
}

.main-menu .menu-item a:hover {
    background-color: #116611;
}

.main-menu .menu-item a:active {
    background-color: #D4D46A;
    color: #116611;
}

@media (min-width: 512px) {
    .main-menu {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }
    .main-menu .menu-item {
        flex: 1 1;
        min-width: 15rem;
    }
}

@media (min-width: 1024px) {
    .header .title {
        grid-column: col-start / span 4;
        grid-row: 1;
        text-align: left;
    }
    .header .main-menu {
        grid-column: col-start 5 / span 8;
        grid-row: 1;
        justify-content: flex-end;
    }
    .header .main-menu .menu-item {
        min-width: 15rem;
        max-width: 15rem;
    }
}

.content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    margin: auto;
    overflow: auto;
}

.book-card {
    border: 2px solid #004400;
    background-color: #FFFFAA;
    margin: 1rem;
    padding: 1rem;
}

dl dt {
    margin-block-end: 1.5rem;
}

dl dd {
    margin-inline-start: 0px;
}

@media(min-width: 512px) {
    dl {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(25rem, 1fr) );
        grid-gap: 1rem;
    }
    .book-card {
        margin: 0;
    }
}

/*
Styles for form elements
(https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements)
*/
fieldset {
    margin: auto;
    padding: 1rem;
    width: 30rem;
    border: 2px solid #004400;
    background-color: #FFFFAA;
}

fieldset legend {
    padding: 1rem;
    color: #116611;
    font-weight: bold;
    border: 2px solid #004400;
    background-color: #FFFFAA;
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
}

form {
    width: fit-content;
    margin:auto;
}

label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #567714;
}

input {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #004400;
    width: 100%;
    border-radius: 0.7rem;
}

fieldset input[type=submit] {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid #004400;
    background-color: #555500;
    color: #D4D46A;
}

fieldset select {
    padding: 0.5rem;
    margin-bottom: 2rem;
}

/*
Style for the book info card
*/
.book-info {
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;

    margin: auto;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
}

.book-info div {
    padding: 0.5rem;
}

.book-info .book-action {
    margin-top: 1rem;
}

@media (min-width: 1024px) {
    .book-info {
        width: fit-content;
    }
}