/*
Color palette URL: http://paletton.com/#uid=52m0u0kllllaFw0g0qFqFg0w0aF
*/

/* Set the base font size */
html {
    font-size: 20px;
}

/* Set font size for wide screens */
@media (min-width: 1000px) {
    html {
        font-size: 10px;
    }
}

/*
Reset form elements so they look the same across different browsers
(https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements)
*/
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}


/*
Styles for tables
(https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Styling_tables)
*/
table {
    table-layout: fixed;
    width: 100%;
    font-size: 1.5rem;
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
    min-width: 60rem;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 30%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 20%;
}

th, td {
    padding: 10px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

thead th,
tfoot th,
tfoot td {
    background-color: #FFFFAA;
    color: #116611;
}

thead th {
    border-width: 2px;
    border-style: solid;
}

tbody tr:nth-child(odd) {
    background-color: #D4D46A;
}

tbody tr:nth-child(even) {
    background-color: #FFFFAA;
}

caption {
    font-family: cursive;
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    text-align: right;
    letter-spacing: 1px;
}



/*
Styles for links
(https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links)
*/
a {
    text-decoration: none;
    color: #567714;
}

a:hover {
    text-decoration-line: underline;
}


/*
Styles for form elements
(https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements)
*/
fieldset {
    border-width: 3px;
    border-style: solid;
    margin: auto;
    padding: 1.5rem;
    width: fit-content;
}

form {
    width: fit-content;
    margin:auto;
    font-size: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    margin-bottom: 1.5rem;
}

fieldset input[type=submit] {
    display: block;
    margin-top: 2rem;
    padding: 4px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

/*
Style for the site top
*/
.header {
    padding: 1.5rem;
}


/*
Style for the site title
*/
.title {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.title a {
    color: #567714
}


/*
Styles for the menu bar (list of links)
*/
.main-menu {
    font-size: 2rem;
    margin: auto;
    border-top: 2px #004400 solid;
    border-bottom: 2px #004400 solid;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.main-menu a {
    flex: 1 15rem;
    margin: 1rem;
    line-height: 3rem;
    text-decoration: none;
    padding: 1.5rem;
    text-align: center;
    border: 1px #004400 solid;
}

.main-menu a:link,
.main-menu a:visited,
.main-menu a:focus {
    background-color: #555500;
    color: #D4D46A;
}

.main-menu a:hover {
    background-color: #116611;
}

.main-menu a:active {
    background-color: #D4D46A;
    color: #116611;
}


/*
Style for the main content block
*/
.content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: auto;
    overflow: auto;
}

@media (min-width: 1000px) {
    .main-menu {
        width: 75%;
    }
    .content {
        width: 75%;
    }
}


/*
Style for the book info card
*/
.book-info {
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;

    margin: auto;
    padding: 1.5rem;
    font-size: 2rem;
    width: 100%;
}

.book-info div {
    padding: 1rem;
}

.book-info .book-action {
    margin-top: 2rem;
}

@media (min-width: 1000px) {
    .book-info {
        width: fit-content;
    }
}